nav{
    a{
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;

    }
}
.mg{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .bg2{
        background-color: #fff;
        height: 80%;
        width: 65%;
        border-radius: 1.5rem;
        box-shadow: 0px 18px 15px 14px rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        justify-content: center;


        .imgh{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;

            img{
                min-width: 5rem;
                min-height: 6rem;

                max-height: 25rem;
            }
        
        }

        .inputgh{
            max-width: 50%;

            .inputy{
                display: flex;
            }
            input{
               border-bottom: 2px solid rgba(128, 128, 128, 0.527);

            }
            input:focus{
                border-bottom: 2px solid rgba(128, 128, 128, 0.527);
 
             }
        }
    }
}
.mk{
    position: sticky;
}
.nav-m{
   
    box-shadow: 2px 6px 24px -11px rgba(0,0,0,0.55);
-webkit-box-shadow: 2px 6px 24px -11px rgba(0,0,0,0.55);
-moz-box-shadow: 2px 6px 24px -11px rgba(0,0,0,0.55);
}
header{
    span{
        font-size: 1.5rem !important;
        font-weight: 800;
    }
}

.tw{
    background-color: #55acee;
}
.fb{
    background-color: #3b5998;
}

.mc{
   

.logc{
   height: 100vh;
    width: 100%;
    background-color: #cfcfcf;
    display: flex;
    
    align-items: center;
    justify-content: center;

    .logimg{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            margin-bottom: 4rem;
        }
    }

    .cdiv{
        background-color: #fff;
        width: 60%;
        height: 80%;
        box-shadow: 3px 1px 20px 14px rgba(0,0,0,0.55);
        -webkit-box-shadow: 3px 1px 20px 14px rgba(0,0,0,0.55);
        -moz-box-shadow: 3px 1px 20px 14px rgba(0,0,0,0.55);

        border-radius: 15px;
    }
}
}